.navbar-inverse {
  background: #303f9f;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > aa {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > aa:hover {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > aa:focus {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 20px 0px 0px 0px;
  z-index: 0;
}
