

/**************************************************************

	Slider
	v 1.0

**************************************************************/

#slideContainer1, #slideContainer2 {
	border: 1px solid #ccc;
	height: 20px;
}

#slideHandle1, #slideHandle2 {
	background-color: white;
	width: 0px;
	height: 0px;
	cursor: pointer;
}

#slideContainer2 {
	margin-top: 20px;
	background-image: url(bg.gif);
}

#pos1, #pos2 {
	border: 1px solid #ccc;
	height: 20px;
	width: 30px;
	margin-top: 5px;
	padding-left: 2px;
}

/*************************************************************/
